<!-- <app-count></app-count>
<b>App: </b>{{ count }}
<app-count-button></app-count-button> -->
<div *ngIf="user$ | async; else notLogged">
    <div class="header">
        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/todos">Todos</a>
            <a routerLink="/todos/add">Add Todo</a>
            <a routerLink="/auth/login">Login</a>
            <a routerLink="/auth/register">Cadastro</a>
            <a routerLink="/cep">Cep</a>
        </nav>
        <div class="user">
            Olá, {{ (user$ | async).email }}
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<ng-template #notLogged>
    <div class="header">
        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/auth/login">Login</a>
            <a routerLink="/auth/register">Cadastro</a>
            <a routerLink="/cep">Cep</a>
        </nav>
    </div>
</ng-template>
<router-outlet></router-outlet>