.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #67d667;
    height: 65px;
    margin-bottom: 10px;
}

.header > nav > a {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
}

.header > nav > a:not(:first-child) {
    border-left: 1px solid #778e7b;
}

.header > .user {
    padding-right: 10px;
}