<form #form="ngForm">
    <div class="field">
        <label>Título</label>
        <input type="text" name="title" [(ngModel)]="todo.title" #title="ngModel" required>
        
        <div *ngIf="title.errors && title.touched">
            <div class="errors" *ngIf="title?.errors.required">
                Título é obrigatório
            </div>
        </div>
    </div>
    <div class="field">
        <label>Descrição</label>
        <input type="text" name="description" [(ngModel)]="todo.description" #description="ngModel" required>
        
        <div *ngIf="description.errors && description.touched">
            <div class="errors" *ngIf="description?.errors.required">
                Descrição é obrigatória
            </div>
        </div>
    </div>
    <div class="field">
        <label>Data</label>
        <input type="date" name="date" [(ngModel)]="todo.date" #date="ngModel" required>
        
        <div *ngIf="date.errors && date.touched">
            <div class="errors" *ngIf="date?.errors.required">
                Data é obrigatória
            </div>
        </div>
    </div>
    <div class="field">
        <label>Finalizado?</label>
        <input type="checkbox" name="finished" [(ngModel)]="todo.finished" #finished="ngModel" value="true">
    </div>
    <button class="btn btn-primary" [disabled]="form.invalid" (click)="addTodo()">{{ buttonName }}</button>
</form>