.todo-item {
    width: 400px;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    margin-left: 20px;
    border-left: 6px solid #ccc;
    background-color: #dfffdd;
    border-color: #21f327;
    justify-content: space-between;
}

a.link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    padding: 0px 10px;
}

a.link:not(:first-child) {
    border-left: 1px solid #778e7b;
}

a.link:hover {
    color: #007bff;
    text-decoration: underline;
}